<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.CateGoryDao">
	<resultMap id="CategoryMap" type="com.book.entity.CateGory">
	    <id column="Cate_id" property="Cate_id" jdbcType="INTEGER" />
	    <result column="Cate_name" property="Cate_name" jdbcType="VARCHAR" />
	    <result column="Cate_desc" property="Cate_desc" jdbcType="VARCHAR" />
	  </resultMap>
</mapper>
